# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: lint-and-test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./AI-Textbook-App

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      
      - name: install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: test
        run: npm test
    # - name: Use Node.js ${{ matrix.node-version }}
    #   uses: actions/setup-node@v4
    #   with:
    #     node-version: ${{ matrix.node-version }}
    #     cache: 'npm'
    #     working-directory: ./AI-Textbook-App
    # #- run: npm ci
    # #- run: npm run build --if-present
    # - run: npm run lint
